{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
  <div id="main">
    <div id="hero">
      <h1> {{ .Title}} </h1>
      {{ if .Params.callout }}
      <p class="hero-lead">
           {{ .Params.callout | markdownify }}
      </p>
      {{ end }}
      {{ if isset .Params "header_buttons" }}
      <p>
        {{ range .Params.header_buttons }}
        <a href="{{.url}}">
          <button class="button {{ .class }}">
            {{ if .icon }}<i class="{{ .icon }}"></i> {{ end }}{{ .text }}</button>
        </a>
        {{ end }}
      </p>
      {{ end }}

    </div> 
    <div id="kube-component" class="content">
    {{ partial "toc" . }}

    {{ .Content}}
<!-- Inject script tag in this template  -->
    {{if .Params.script}}
     {{ $script := (delimit (slice "scripts" .Params.script) "/")}}
    {{ partial (string $script) .}}
    {{end }}
    </div>
    </div>
{{ end }}
{{ define "footer"}} {{ partial "footer.html" .}} {{ end }}
